
. backgroundLogin {
    -fx-background-image: url("pictures/1.jpg");
    -fx-background-size: cover; /* Ensures the image covers the entire element */
    -fx-background-position: center; /* Centers the image */
    -fx-background-repeat: no-repeat;
}

. backgroundC {
    -fx-background-image: url("pictures/11.jpg");
    -fx-background-size: cover; /* Ensures the image covers the entire element */
    -fx-background-position: center; /* Centers the image */
    -fx-background-repeat: no-repeat;
}

. eventsC {
    -fx-font-family: "Comic Sans MS";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0); /* Blur effect */
    -fx-background-color: rgba(255, 255, 255, 0.1); /* Light opacity for transparency */
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-content-display: top;
    -fx-text-alignment: center;
}

. buttons {
    -fx-font-family: "Comic Sans MS";
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0); /* Blur effect */
    -fx-background-color: rgba(255, 255, 255, 0.15); /* Light opacity for transparency */
    /*-fx-background-color: "#DEF2F0";*/
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}


. labels {
    -fx-font-family: "Comic Sans MS";
}

. eventABC {
    -fx-background-color: "#FFE3B3";
}

. labelEvent {
    -fx-background-color: rgba(255, 255, 255, 0.15); /* Light opacity for transparency */
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

. labelLogin {
    -fx-background-color: rgba(255, 255, 255, 0.15); /* Light opacity for transparency */
    -fx-background-radius: 20;
    -fx-border-radius: 20;

}



. eventsHeader {

    -fx-font-family: "Comic Sans MS";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0); /* Blur effect */
    -fx-background-color: rgba(255, 255, 255, 0.1); /* Light opacity for transparency */
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-content-display: top;
    -fx-text-alignment: center;

}

. gridPane {

    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
