/*. background {
    -fx-background-image: url("filepath");
    -fx-background-size: cover;
    -fx-background-position: center center;
}*/

/*. forgot {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-focus-traversable: false;
    -fx-text-fill: "#0D4E60";
    -fx-font-family: "Comic Sans MS";
}*/
